html,body{
  margin: 0;
  padding: 0;
}
@mixin image{
  @media (min-width: 550px){
    float: left;
    width: 50%;
  }
}
.images{
  img{
    max-width: 100%;
    @include image;
  }
  .image{
    background-image: url(../images/rabbit.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    height: 300px;
    transition: 2s background-size ease;
    &:hover{
      background-size: 130%;
    }
    @include image;
  }
}

//zad1
.one-image {
  height: 300px;
  width: 500px;
  border: 2px solid magenta;
  img {
    width: 100%;
    height: 100%;

  }
}

//zad2
.one-image-bg {
  height: 300px;
  width: 500px;
  border: 2px solid magenta;
  background-image: url(../images/rabbit.png);
  background-repeat: no-repeat;
  background-size: 50%;
}
