body, html{
  margin: 0;
  padding: 0;
  font-size: 8px;
  // font-size: 10px;
  // height: 100%;
}
.test{
  background: yellow;
  // width: 100%;
  // height: 100%;
  height: 50vh;
}
.boxes{
  width: 50%;
  clear: both;
  &:after, &:before{
    content: '';
    clear: both;
    display: block;
  }
  .box{
    height: 50vh;
    // width: 33.3333vw;
    width: 33.3333%;
    background: cyan;
    box-sizing: border-box;
    border: 2px #333 dashed;
    float: left;
  }
}
p{
  margin-top: 0;
}


.test{
  // font-size: 30px;
  p{
    font-size: 2em; //32px
  }
  span{
    font-size: 2rem; //32px
  }
  strong{
    font-size: 150%; //24px
  }
}

//zad1
.panel {
  font-size: 40px;
  p{
    font-size: 0.5em;
  }
}

//zad2
.bg_box {
  font-size: 10px;
  .box{
    font-size: 2em;
    width: 3em;
  }
}

//zad3
.container {

  p{
    font-size: 3rem;
  }
}

//zad4
.wolf_text {
  width: 30rem;
  border: 1px solid black;
}

//zad5
.winnie_the_pooh {
  font-size: 10px;
  blockquote {
    font-size: 300%;
  }
}

//zad6
.images{
  //width: 80%;
  height: 300px;
  border: 1px solid purple;
  .img_one{
    background-image: url('../images/cat.jpg');
    width: 30%;
    height: 100%;
  }
}

//zad7
//ma cala szerokosc strony poniewaz jest to element blokowy

//zad8
.test_hight_grandpa {
  border: 3px solid pink;
  height: 50px;
  .test_height_daddy {
    border: 3px solid green;
    //height: 200%;
    .test_height_baby {
      border: 3px solid navy;
      height: 50%;
    }
  }
}

//zad9
//wysokos zmniejszyla sie do polowy elementu rodzica

//zad10
h1 {
  text-align: center;
  height: 50vh;
  margin-top: 50vh;
}
