.grid-container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  .row{
    //tylko dla testu, żeby pokazać granice row
   margin-bottom: 15px;
    // border-bottom: 1px dashed red;
    &:after, &:before{
      content: '';
      display: block;
      clear: both;
    }
    [class*="col-"]{
      box-sizing: border-box;
      float: left;
      padding: 0px 10px;
      min-height: 1px;

    }
    @for $i from 1 through 12{
      .col-#{$i}{
        width: $i/12 * 100%;

      }
      @media (max-width: 550px){
        width: 100%;
      }
      @media (min-width: 551px) and (max-width: 960px){
        @if $i < 6{
          width: 50%;
        }
        @else{
          width: 100%;

          }
        }
      }
    }
    .purple {
      background: purple;
    }

    .yellow {
      background: yellow;
    }

    .blue {
      background: lightblue;
    }
  }
