// body{
//   background: yellow;
//   @media (min-width: 420px){
//     background: #fff;
//   }
// }
//
// @mixin view-desktop {
//   @media (min-width: 720px){
//     @content;
//   }
// }
// %block{
//   width: 100%;
//   box-sizing: border-box;
//   @include view-desktop{
//     padding: 0px 10px;
//     width: 50%;
//     float: left;
//   }
//
// }
// .test-page{
//   font-size: 18px;
//   img{
//     max-width: 100%;
//   }
//   h1{
//     font-size: 2em;
//     margin-top: 10px;
//     margin-bottom: 20px;
//     @include view-desktop{
//       margin-top: 0;
//     };
//   }
//   .image-thumb{
//     @extend %block;
//   }
//   .content{
//     @extend %block;
//   }
// }


//zad1
body {
  width: 100vw;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
  .sidebar {
    width: 100%;
    height: 49%;
    background: black;
    margin-bottom: 10px;
  }
  section {
    width: 100%;
    height: 49%;
    background: blue;

  }
  h1 {
    text-align: center;
    color: white;
    margin: 0;
    padding-top: 25vh;

  }
}

@media (min-width: 600px){
  .container {
    width: 100%;
    height: 100%;
    .sidebar {
      width: 29%;
      height: 100%;
      background: black;
      float: left;
    }
    section {
      width: 70%;
      height: 100%;
      background: blue;
      float: left;
    }
    &:after{
      clear: both;
      display: block;
      content: "";
    }
    h1 {
      text-align: center;
      color: white;
      margin: 0;
      padding-top: 50vh;

    }

  }
}
